/* Shared styles */

.banner {
    margin-bottom: 130px;
}

.section-caption {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0px;
}

.section-title {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    padding-top: 0px;
}

main section {
    margin-top: 130px;
}


/* Banner styles */
.banner-caption {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 0px;
}

.banner-title {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.banner-content {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.075)), url(../B9A1-New-Year-New-Mission/resources/Banner\ Image.png);
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* Main Styles */

/* Discount Styles */
.discount-image {
    width: 802.9px;
    height: 500px;
    align-items: center;
    margin: auto;
    display: block;
}

.discount-title {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 48px;
}

/* section-block */

.welcome-party {
    background-image: linear-gradient(rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.075)), url(../B9A1-New-Year-New-Mission/resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    padding: 126px 497px 142px 126px;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-left: 140px;
    margin-right: 140px;
}

.block-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    margin-bottom: 24px;
    width: 642px;
}

.block-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    width: 697px;
}

.block-subtitle {
    color: #FFF;
    text-align: left;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 48px auto 142px 50px;
}

/* Footer styles */